.form {
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 400px;
}

.form__label {
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
}

.form__input {
    display: block;
    padding: 5px;
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid gray;
}

.form__button {
    font-size: 16px;
    border: 1px solid black;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;

    &:hover, &:focus {
        background-color: lightgray;
    }
}